.ir {
    display: block;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    line-height: 0;
    font-size: 1px;
    color: transparent;
}

body {
    background-color: #EAE8FE;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
}

header {
    text-align: center;
}
header > img {
    margin-bottom: 67px;
    width: 386px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px;
}

.whiteBox {
    background-color: #FFF;
    width: 360px;
    padding: 0 27px;
    box-sizing: border-box;
}
.whiteBox.first {
    padding-top: 31px;
    padding-bottom: 28px;
}
.whiteBox_sencondThird {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.whiteBox.second {
    display: inline;
    height: 50px;
    padding-top: 9px;
    padding-bottom: 9px;
}
.whiteBox.third {
    padding-top: 25px;
}


/* whiteBox first 1/2 */
.colaBoxes {
    display: grid;
    grid-template-rows: repeat(2, 130px);
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin-bottom: 20px;
}
/* 버튼 타입 지정하기 */
.btn { 
    position: relative;
    background-color: #FFF;
    width: 94px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0 0 5px -3px rgba(0,0,0,1);
    padding: 11px 0 9px ;
    cursor: pointer;
}
.btn:active {
    outline: 3px solid #6327FE;
}

.colaBoxes > .btn > img {
    width: 36px;
    height: 65px;
    margin-bottom: 5px;
    vertical-align: bottom;
}
.colaBoxes > .btn > strong {
    display: block;
    color: #333333;
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
}
.colaBoxes > .btn > span {
    display: inline-block;
    background-color: #6327FE;
    width: 70px;
    height: 22px;
    margin-top: 5px;
    border-radius: 50px;
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
}

.btn.soldout::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: no-repeat center/ 94px 130px url('img/soldout.png');
    border-radius: 10px;
    z-index: 10;
    opacity: 0.8;
}

/* whiteBox first 2/2 */
.getColaContainer{
    display: grid;
    grid-template-rows: 1fr 1fr 106px;
    grid-template-columns: 200px 1fr;
    gap: 12px;
}

.showValue {
    background-color: #EAE8FE;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 10px
}
.restMoney {
    float: right;
    padding-right: 3px;
}

.text_showValue {
    float: right;
}
.baseMoney {
    float: right;
    padding-right: 3px;
}
.btn.white {
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    padding: 6px 0 7px 0;
}

#inputValue, .getDrinkBox {
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    padding: 5px 0 6px 5px;
    box-sizing: border-box;
}
#inputValue::placeholder {
    color: #BDBDBD;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
}

.getDrinkBox {
    background-color: #EAE8FE;
    padding: 12px 12px 0;
    overflow: scroll;
}
.getDrinkInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    text-align: left;
    width: 100%;
    padding: 6px 8px 7px 10px;
    border: none;
    border-radius: 4px;
    margin-bottom: 6px;
    cursor: pointer;
}
.getDrinkInfo_img {
    width: 18px;
    height: 33px;
}
.getDrinkInfo > span {
    display: flex;
    align-items: center;
}
.getDrinkInfo > span > strong {
    color: #333333;
    margin-left: 9px;
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
}
.countNum {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}

.btn.violet {
    background-color: #6327FE;
    border-radius: 4px;
    color: #FFF;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    padding: 0;
}

/* whiteBox second */

/* whiteBox third */
.text-getDrinks {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 13px;
}
.total_text {
    text-align: right;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    margin: 6px 0 26px;
}
.getDrinkBox.long {
    height: 364px;
}

/* 미디어쿼리 */
@media screen and (max-width:719px) {
    body {
        background-color: #FFF;
    }
    header > img {
        margin-bottom: 0px;
    }
    main {
        gap: 0px;
    }
}